xsd/bt_metrics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BusinessTransactions" type="BusinessTransactionsType"/>
  <xs:complexType name="BusinessTransactionsType">
    <xs:sequence>
      <xs:element type="BusinessTransactionType" name="BusinessTransaction" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:anyURI" name="Controller"/>
    <xs:attribute type="xs:dateTime" name="GenerationTime"/>
  </xs:complexType>
  <xs:complexType name="BusinessTransactionType">
    <xs:sequence>
      <xs:element type="xs:string" name="ApplicationName"/>
      <xs:element type="xs:string" name="BusinessTransactionName"/>
      <xs:element type="xs:string" name="TierName"/>
      <xs:element type="xs:long" name="AverageResponseTime"/>
      <xs:element type="xs:long" name="CallsPerMinute"/>
      <xs:element type="xs:long" name="TotalCalls"/>
      <xs:element type="xs:long" name="TotalErrors" />
      <xs:element type="xs:long" name="ErrorsPerMinute"/>
      <xs:element type="xs:float" name="ErrorPercentage"/>
      <xs:element type="xs:long" name="SlowCalls" />
      <xs:element type="xs:long" name="VerySlowCalls" />
      <xs:element type="xs:long" name="Stalls" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>